
<html>
  <head>
    <title>
      Flex Layout
    </title>
    <link rel="stylesheet" href="index.css"/>
  </head>
  <body>
    <div class="main">
      <div class="header">
        <span>Header</span>
      </div>
      <div class="middle">
        <div class="left">
          <span>Aside</span>
        </div>
        <div class="right">
          <div class='bottom'>
            <span>Article</span>
            <div class="image-wrapper">
              <img src="https://api.lorem.space/image/face?w=200&h=200&hash=3ktfx9dt" alt="img 1" />
              <img src="https://api.lorem.space/image/face?w=200&h=200&hash=3ktfx9dt" alt="img 2" />
              <img src="https://api.lorem.space/image/face?w=200&h=200&hash=3ktfx9dt" alt="img 3" />
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <span>Footer</span>
      </div>
    </div>
  </body>
</html>